<div class="row">
    <div class="col-sm-6">
        <div class="food-item">
            <img ng-src="{{food.img}}" width="100%"/>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="food-item">
            <div class="row">
                <div class="col-sm-12">
                    <div class="food-item">
                        <h2>{{food.name}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="food-item">
                        <p>
                            {{food.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="food-item">
                        <span class="btn btn-primary" ng-click="foodDetails.addToShoppingCart()">Añadir</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
