<div class="row">
    <div class="col-sm-6">
        <div class="food-item">
            <img ng-src="{{food.img}}" width="100%"/>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="food-item">
            <h2>{{food.name}}</h2>
            <p>
                {{food.description}}
            </p>
            <div>
                <input ng-model="foodDetails.quantity" value="1">
                <button ng-click="foodDetails.addToShoppingCart()">Add</button>
            </div>
        </div>
    </div>
</div>
