<div class="left">
    <img ng-src="food.img"/>
    <h2>{{foodDetails.food.name}}</h2>
    <p>
        {{foodDetails.food.description}}
    </p>
    <div>
        ${{foodDetails.food.price}}
        <input ng-model="foodDetails.quantity" value="1">
        <button ng-click="foodDetails.addToShoppingCart()">Add</button>
    </div>
</div>


<p>Food _id: {{food._id}}</p>
<p>Food name: {{food.name}}</p>
<p>Food description: {{foodDetails.food.description}}</p>
<p>Food cost: {{foodDetails.food.price}}</p>
<p>Food img: {{foodDetails.food.img}}</p>
