
    <h1>Menu General</h1>

<ul>
    <div class="col-sm-4" ng-repeat="food in menuList.foods">
        <div class="food-item">
            <div class="image-container">
                <img ui-sref="food({foodId: food._id})" ng-src="{{food.img}}" class="food-image">
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="food-name">
                        <h4>{{food.name}}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="food-info">
                        <div class="pull-left">
                            $ {{food.price}}
                        </div>
                        <div class="pull-right">
                            <span ng-click="menuList.addToCart(food)" class="btn btn-primary">Añadir</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ul>