<div class="col-sm-offset-1 col-sm-10">
        <section>
            <div class="row food-item">
                <div class="col-sm-12">
                    <div class="container">
    <div class="row">
        <div class='col-sm-6'>
        <h3>fecha y hora Para tu consulta</h3>
            <div class="form-group">
                <div class='input-group' id='datetimepicker2'>
				<input type="datetime-local" name="bdaytime">                   
                </div>
            </div>
        </div>
        <div class="pull-right">
         	<a class="btn btn-succes" ui-sref="todayfood">inicia el Cambio</a>
         </div>
    </div>
</div>
                </div>
            </div>
        </section>
</div>