<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <section>
            <div class="row food-item">
                <div class="col-sm-12">
                    <p>
                        Estas a un paso de una vida más saludable, selecciona un plan que se ajuste a tus necesidades
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-sm-4">
                    <img width="100%" height="66%" src="/images/image-background.jpg" class="food-image">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="food-name">
                                <h4>Paquete 1:   Desayuno </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 food-description">
                            Plan sencillo, pero balanceado para iniciar el dia de la mejor forma, tu nos indicas donde Entregar tu desayuno
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="food-info">
                                <div class="pull-left">
                                    <h4>$ 300</h4>
                                </div>
                                <div class="pull-right">
                                    <span class="btn btn-primary" ui-sref="subscribePlan">Suscribirse</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img width="100%" height="66%" src="/images/image-background.jpg" class="food-image">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="food-name">
                                <h4>Paquete 2:  Desayuno Comida </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 food-description">
                            Plan Para personas con una mañana ocupada,  en donde te encuetres lo recibes 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="food-info">
                                <div class="pull-left">
                                    <h4>$ 600</h4>
                                </div>
                                <div class="pull-right">
                                    <span class="btn btn-primary" ui-sref="subscribePlan">Suscribirse</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img width="100%" height="66%" src="/images/image-background.jpg" class="food-image">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="food-name">
                                <h4>Paquete 3: Desayuno colaciones Comidas colaciones Cena</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 food-description">
                            No hay pretextos, Come a tus horas 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="food-info">
                                <div class="pull-left">
                                    <h4>$ 1200</h4>
                                </div>
                                <div class="pull-right">
                                    <span class="btn btn-primary" ui-sref="subscribePlan">Suscribirse</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>